@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

/*
CSS uses selectors to target the elements of HTML in a webpage.
To select all the tags '*' is used, for id '#' and for class '.' is 
used as selectors.
*/
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: beige;
}

body{
    line-height: 1.6;
    background-color: black;
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input{
    color: black;
    width: 80%;
    max-width: 400px;
    padding: 10px 10px;
    margin-right: 10px;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
    background-color: beige;
    font-size: 12px;
    border-radius: 10px;
}

#search-button{
    color: black;
    padding: 9px 20px;
    font-size: 12px;
    background-color: beige;
    cursor: pointer;
    border-radius: 10px;
    height: fit-content;
    box-shadow: none;
}

.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 1200px;
    margin: auto;
}

.search-image{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    box-shadow: none;
    overflow: hidden;
}

.search-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

img:hover{
    transform: scale(1.02);
    opacity: 0.95;
}

.search-image a{
    /* padding: 2px 2px 2px 2px; will not work directly untill DISPLAY property is added */
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#load-more{
    border: none;
    display: none;
    margin: auto;
    /* These above properties will allign the contents (the text along with the button in this case) in the center */
    color: black;
    padding: 9px 20px;
    font-size: 12px;
    background-color: beige;
    cursor: pointer;
    border-radius: 10px;
    height: fit-content;
    box-shadow: none;

}

@media screen and (max-width: 768px){
    .search-results{
        padding: 20px;
        margin: 5px;
    }
    .search-image{
        width: 45%;
    }
}

@media screen and (max-width: 480px){
    .search-image{
        width: 100%;
    }
}